div1
{
   background-color: aqua; 
   width: 400;
   height: 2000;
}
div2
{
   width: 400;
   height: 2000;
}
div3
{
   width: 400;
   height: 2000;
}
div4
{
   width: 400;
   height: 200;
}
div5
{
   width: 400;
   height: 200;
}
div6
{
   width: 400;
   height: 200;
}